$prime-color: #ffffff;
$prime-grey-color: #eeecec;
$sec-grey-color: #828282;
$third-grey-color: #666666;
$black-color: #000000;

$accent-color: #885ffc;
$sec-accent-color: #2c3e50;
$third-accent-color: #635407;
$fours-accent-color: #641e16;

$light-prime-bg-color: #eeaeca;
$light-sec-bg-color: #ff969680;
$prime-bg-color: rgba(255, 255, 255, 0.26);
$sec-bg-color: #91bef3;
$third-bg-color: rgba(255, 255, 255, 0.16);
$fours-bg-color: rgba(255, 255, 255, 0.4);
$dark-prime-bg-color: #48355b;

$border-color: #cccccc;

$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$sec-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
$third-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
